.btn-app{
    min-width: 90px !important;
    margin: 0 0 5px 15px !important;
}
.checkbox{
    font-size: 15px;
}
.avatar{
    width: 45px;
    height: 45px;
    background: #00c0ef;
    text-align: center;
    line-height: 45px;
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
}