.btn-app{
    min-width: 90px !important;
    margin: 0 0 5px 15px !important;
}
.checkbox{
    font-size: 15px;
}
.links{
    margin: 1px;
}
.avatar{
    width: 45px;
    height: 45px;
    background: #00c0ef;
    text-align: center;
    line-height: 45px;
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
}
.checkbox-table{
    text-align: center;
}
.table-head{
    background: #9a9a9a;
    color: #fff;
    font-weight: bold;
}
.table-body{
    font-weight: bold;
}
td, label{
    font-size: 10px;
    font-weight: 600 !important;
}
.active a{
    padding: 5px 10px !important;
}
/* cheked */
.checked{
    cursor: pointer;
}
.activepage{
    background-color: #eee !important;
}
/* list user */
.action-user{
    list-style: none;
}
.action-user li{
    float: left;
    margin: 0 10px;
}
.action-user .fa-pencil{
    color: primary;
}
.action-user .fa-remove{
    color: red;
}
.leyenda{
    text-align: center;
}
.ejey{
    color: #b2d9e6;
}
.ejex{
    color: #b2d9e6;
}
.txtleyend{
    color: #666;
    font-family: Arial, Helvetica, sans-serif;
}
/* boddy message */
.content-message{
    min-height: 200px;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.fecha_message{
    color: #ccc;
}
.avatar_mesage{
    margin-top: 5px;
}
.avatar_img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #00c0ef;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
}
.name_autor{
    line-height: 40px;
    margin-left: 10px;
    font-weight: bold;
}